.ranking {
    font-size: 14px;
    text-align: center;
    border: 1px dashed #4b2e18;
    padding: 10px;
    margin-bottom: 20px;
}

.ranking-banners {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.ranking-banners img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    border: 1px solid #3e2712;
    padding: 5px;
}
